<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">File listing</h3>
    </div>
    <div id="file-listing" class="table table-responsive">
        <table class="table table-condensed table-hover">
            <thead><tr>
                <th>File</th>
                <th>Modified</th>
                {% if config['USE_DRIVE'] %}<th>Modified by</th>{% endif %}
            </tr></thead>
            <tbody>
            {% for ind, row in df.iterrows() %}
            <tr>
                {% if config['USE_DRIVE'] %}
                <td><a href="{{ row.loc['webViewLink'] }}" target="_blank">
                    <span class="mr-1"><img class="mt-1" src="{{ row.loc['iconLink'] }}" alt="icon"></span>
                    {{ row['name'] }}</a>
                </td>
                <td>{{ row['lastModifyingUser'] }}</td>
                {% else %}{# local files #}
                <td>
                    {% if row['kind'] == 'folder' %}
                        <span class="mr-1 glyphicon glyphicon-folder-open"></span>
                    {% else %}
                        <span class="mr-1 glyphicon glyphicon-file"></span>
                    {% endif %}
                    {{ row['name'] }}
                </td>
                {% endif %}
                <td>{{ moment(row['modifiedTime']).calendar() }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
