<ul class="molecules row">
    {% for mol in molecules %}
    {% if sims %}{% set sim = sims[loop.index0] %}{% endif %}
    <li class="mol-outer col-md-6 col-lg-4 list-unstyled">
        <div class="mol">
            <div class="mol-thumb-box">
                <div><img class="img-responsive img-rounded mol-thumb-img" loading="lazy" src="{{ mol.url_svg }}"></div>
            </div>
            <div class="mol-content">
                {%- if sims %}
                    <div class="mol-sim"><code>SIMILARITY {{ sim|round(3) }}</code></div>
                {% endif -%}
                <div class="mol-categ"><code><a href="{{ url_for('main.index', category=mol.category) }}">{{ mol.category }}</a></code></div>
                <div class="mol-name dont-break-out"><span>{{ mol.mol_name }}</span></div>
                <div class="mol-inchi"><span class="mol-inchikey">{{ mol.inchi_key }}</span></div>
                {%- if config['USE_DRIVE'] %}
                    <div class="mol-dir"><a href="{{ mol.dir_url }}" target="_blank">Directory</a></div>
                    <div class="mol-user"><a class="text-muted" href="{{ url_for('main.index', user=mol.user) }}">{{ mol.user }}</a></div>
                {% endif -%}
                <div class="mol-modtime"><span class="text-muted">{{ moment(mol.mod_time).calendar() }}</span></div>
                {% for db_name in g.db_templates %}
                    {% set db_url = g.db_templates[db_name]|replace("<INCHIKEY>", mol.inchi_key) %}
                    <a href="{{ db_url }}" target="_blank">{{ db_name }}</a>
                {% endfor %}
            </div>
        </div>
    {#  mol.__dict__   #}
    </li>
    {% endfor %}
</ul>
