{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}

<div class="page-header">
    <h1>Admin</h1>
</div>


<div id=admin-db" class="panel panel-default">
  <div class="panel-heading">Database admin</div>
  <div class="panel-body">
    {%- if last_rebuild %}
        <p>Last rebuild completed {{ moment(last_rebuild.end_time).fromNow() }}.</p>
    {% endif -%}
    {% set in_progress =  'true' if in_progress_builds else 'false' %}
    <div id="status-div" class="alert alert-success" style="display: {{ 'block' if in_progress_builds else 'none' }};"
         role="alert" data-in-progress={{ in_progress }}>
    <span id="spinner"><img src="{{ url_for('static', filename='loading.gif') }}" alt="">&nbsp;</span>
    <span id="rebuild-progress">{{ in_progress_builds[0].get_progress_message() if in_progress_builds else 'Submitting rebuild request.'}}</span>
    </div>

    <button id='reload-button' class="btn btn-default btn-lg
        {{ 'disabled' if in_progress_builds else '' }}">
        <span class="glyphicon glyphicon-refresh"></span> Rebuild DB
    </button>

    <form id='clear-div' action="{{ url_for('main.clear_rebuilds') }}" method="post"
        style="display:{{ 'inline-block' if in_progress_builds else 'none' }};">
      {{ empty_form.hidden_tag() }}
      {{ empty_form.submit(value="Clear rebuilds", class_='btn btn-default') }}
    </form>

    {% if inc_valid %}
    <a id='download-sdf' class="btn btn-default btn-lg" href="{{ url_for('main.sdf') }}" role="button">
        <span class="glyphicon glyphicon-download"></span> Export SDF
    </a>
    {% endif %}

  </div>
</div>

<div id="admin-users" class="panel panel-default">
  <div class="panel-heading">User admin</div>
  <div class="panel-body">

    {% if config['USE_AUTH'] %}
    <div id="admin-list">
        {% if user_form %}
            <p>Current admin users:</p>

        <form action="" method="post" class="form" role="form">
            {{ user_form.hidden_tag() }}
          <div class="checkbox disabled">
          <label>
            <input checked="" id="current_user" name="current_user" type="checkbox" value="y" disabled> {{ user_form.current_user.label.text }}
          </label>

          </div>
        {%- for field in user_form %}
            {%- if field.name.startswith('user_') %}
            {{ wtf.form_field(field) }}
            {% endif -%}
        {% endfor %}
        {{ wtf.form_field(user_form.submit) }}
        </form>
        {% else %}
        <p>There are no designated admin users.</p>
        {% endif %}
    {% else %}
        Note: Authentication is switched off.
    {% endif %}
    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$(function () {
    const spinner_id = '#spinner';
    const status_msg_id = '#rebuild-progress';
    const status_div_id = '#status-div';

    const status_div = $(status_div_id);
    let in_progress = status_div.data('in-progress');

    status_timer = null;

    if(in_progress){
        status_div.data('in-progress', true);
        status_div.show();  //removeClass('hidden');
        load_status(status_msg_id, spinner_id);
        status_timer = setInterval(load_status, 1000, status_msg_id,
            spinner_id)
    }
    $('#reload-button').on('click', function(e) { //use on if jQuery 1.7+
        {# e.preventDefault();  //prevent form from submitting #}
        // do status auto-updating
        $('#reload-button').addClass('disabled')
        $('#clear-div').show()
        status_div.data('in-progress', true);
        console.log("Submitting rebuild request.");
        $.post("{{ url_for('main.reload') }}").done(function(response) {
            status_div.show();
            status_timer = setInterval(load_status, 1000, status_msg_id, spinner_id);
            }).fail(function() {
            console.log("Reload initiation failed.")
            })
    });

    $('#download-sdf').on('click', function(e){
        $(this).blur();
    })

})

function load_status(msgElem, spinnerElem) {
    console.log('Loading status info.');
    $.post('{{ url_for("main.build_status") }}', {
    }).done(function(response) {
        const is_complete = response['is_complete'];
        console.log('is_complete: ' + is_complete)
        const status = String(response['status']);
        if (is_complete){
            $(spinnerElem).hide();
            $('#clear-div').hide()
            console.log("Rebuild complete. Stopping timer")
            clearInterval(status_timer);
        }
        $(msgElem).text(status);
        console.log('STATUS: ' + status);
    }).fail(function() {
        $(spinnerElem).hide();
        console.log("Listing + custom info lookup failed.");
        $(msgElem).text("Error: Could not contact server.");
        console.log('Stopping timer due to failure.');
        clearInterval(status_timer);
    });
}

</script>

{% endblock %}

