{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}

<div class="page-header">
    <h1>Admin</h1>
</div>


<div id=admin-db" class="panel panel-default">
  <div class="panel-heading">Database admin</div>
  <div class="panel-body">
    {%- if last_rebuild %}
        <p>Last rebuild completed at {{ last_rebuild.end_time }}.</p>
    {% endif -%}
    {% if in_progress_builds %}
        <div class="alert alert-success" role="alert">
        <span id="rebuild-progress">{{ in_progress_builds[0].get_progress_message() }}</span>
        </div>
    {% endif %}
      <form action="{{ url_for('main.reload') }}" method="post">
        {% set btn_classes = ['btn', 'btn-default', 'btn-lg'] %}
        {%- if in_progress_builds  %}{% do btn_classes.append(' disabled') %}{% endif %}
        {{ empty_form.hidden_tag() }}
        {{ empty_form.submit(
          value='⟳ Rebuild DB'|safe,
          class_=btn_classes|join(' ')) }}</form>
    {%- if in_progress_builds  %}
      <form action="{{ url_for('main.clear_rebuilds') }}" method="post">
        {{ empty_form.hidden_tag() }}
        {{ empty_form.submit(value="Clear rebuilds", class_='btn btn-default') }}
{#          <button type="button" id="clear-button" class="btn btn-default">#}
{#            Clear rebuilds#}
{#          </button>#}
      </form>
    {% endif %}
  </div>
</div>

<div id="admin-users" class="panel panel-default">
  <div class="panel-heading">User admin</div>
  <div class="panel-body">

    {% if config['USE_AUTH'] %}
    <div id="admin-list">
        {% if user_form %}
            <p>Current admin users:</p>

        <form action="" method="post" class="form" role="form">
            {{ user_form.hidden_tag() }}
          <div class="checkbox disabled">
          <label>
            <input checked="" id="current_user" name="current_user" type="checkbox" value="y" disabled> {{ user_form.current_user.label.text }}
          </label>

          </div>
        {%- for field in user_form %}
            {%- if field.name.startswith('user_') %}
            {{ wtf.form_field(field) }}
            {% endif -%}
        {% endfor %}
        {{ wtf.form_field(user_form.submit) }}
        </form>
        {% else %}
        <p>There are no designated admin users.</p>
        {% endif %}
    {% else %}
        Note: Authentication is switched off.
    {% endif %}
    </div>

  </div>
</div>

{% endblock %}
