{% extends "base.html" %}

{% if not config['USE_AUTH'] or current_user.is_authenticated and current_user.in_team %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/kekule.css">
{% endblock %}
{% endif %}


{% block page_content %}

{% if config['USE_AUTH'] %}
    {% if current_user.is_authenticated %}
        {% if not current_user.in_team %}
            <p>Unfortunately your ID hasn't been recognized. Maybe you
                have a different account associated with the team?
                Try logging out and back in again.</p>
        {% endif %}
    {% else %}
        <div style="display:flex; flex-direction:column; align-items:center;
            min-height: 300px; justify-content:space-around">
        <h1>Welcome to {{ config['APP_TITLE'] }}</h1>
        <p style="text-align: center;">If you are a team member, please log in to gain access.<br/>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('main.oauth_authorize', provider='google') }}">Log in with Google</a></p>
        </div>
    {% endif %}
{% endif %}

    {% if not config['USE_AUTH'] or current_user.is_authenticated and current_user.in_team %}

<div class="page-header">
    <h1>{{ config['APP_TITLE'] }}</h1>
</div>

<div id="intro">
    {% if molecules|length == 0 %}
        <p class="mb-0">No molecules found in archive.</p>
        <p class="mb-0">Make sure you have built the archive using <code>flask build</code>.</p>
    {% elif config['USE_DRIVE'] %}
        <p class="mb-0">All molecules in the
        <a href="https://drive.google.com/drive/folders/{{ config['SHARED_DRIVE_ID'] }}" target="_blank">
            Shared Drive</a> are shown below.</p>
    {% else %}
        <p class="mb-0">All molecules in the local archive are shown below.</p>
    {% endif -%}
</div>

{% include '_molecules.html' %}

{% include '_pager.html' %}

{% endif %}

{% endblock %}
