{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
    <h1>{{ mol.mol_name }}</h1>
</div>

<figure>
    <div id="mol-img-onepage"><img class="img-responsive img-rounded" src="{{ mol.url_svg }}"></div>
</figure>

<div id="mol-properties-container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Molecule metadata</h3>
  </div>
<table class="table table-hover">
    <tbody>
    <tr><th>Category</th>
        <td><a href="{{ url_for('main.index', category=mol.category) }}">{{ mol.category }}</a></td></tr>
    <tr><th>InChIKey</th>
        <td><span id="val_inchikey">{{ mol.inchi_key }}</span><button id="btn_inchikey" class="copy-btn">
            {#<i class="far fa-copy"></i>#}
            <span class="glyphicon glyphicon-copy" data-toggle="tooltip" data-placement="top" title="Copy"></span>
        </button></td></tr>
    <tr><th>Smiles</th>
        <td><span id="val_smiles">{{ mol.smiles }}</span>
            <button id="btn_smiles" class="copy-btn">
            <span class="glyphicon glyphicon-copy" data-toggle="tooltip" data-placement="top" title="Copy"></span></button></td></tr>
    {%- if config['USE_DRIVE'] %}
    <tr><th>Directory</th>
        {% set dir_url = 'https://drive.google.com/drive/folders/' + mol.folder_id %}
        <td><a href="{{ dir_url }}" target="_blank">{{ dir_url }}</a></td></tr>
    <tr><th>User</th>
        <td><a href="{{ url_for('main.index', user=mol.user) }}">{{ mol.user }}</a></td></tr>
    {% endif %}
    <tr><th>Modified</th>
        <td>{{ moment(mol.mod_time).calendar() }}</td></tr>
    <tr><th>Search</th>
        <td>
            <a href="{{ url_for('main.results', search_type='similarity', query=mol.smiles) }}" class="btn btn-sm btn-default" target="_blank">Find similar</a>
            <a href="{{ url_for('main.results', search_type='substructure', query=mol.smiles) }}" class="btn btn-sm btn-default" target="_blank">Find superstructure</a></td></tr>
    {% if  g.db_templates %}
    <tr><th>XRefs</th>
        <td>
        {% for db_name in g.db_templates %}
                {% set db_url = g.db_templates[db_name]|replace("<INCHIKEY>", mol.inchi_key) %}
                <a href="{{ db_url }}" class="btn btn-sm btn-default" target="_blank">{{ db_name }}</a>
        {% endfor %}
        </td></tr>
    {% endif %}
    </tbody>
</table>
</div>
</div>

<div id="spinner" class="hidden"><img src="{{ url_for('static', filename='loading.gif') }}" alt="">&nbsp;Loading custom info and file listing...</div>

<div id="file-listing-container" class="hidden"></div>

<div id="custom-info-container" class="hidden"></div>

{% endblock %}


{% block scripts %}
{{ super() }}

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
    const spinner_id = '#spinner';
    const custom_id = '#custom-info-container';
    const listing_id = '#file-listing-container';
    load_custom_info(listing_id, custom_id, spinner_id)

    const btn_inchikey = document.querySelector('#btn_inchikey');
    btn_inchikey.addEventListener('click', get_copy_fn('#val_inchikey'))

    const btn_smiles = document.querySelector('#btn_smiles');
    btn_smiles.addEventListener('click', get_copy_fn('#val_smiles'))
})

const get_copy_fn = target_selector => {
    return function(event){
        const target = document.querySelector(target_selector);
        const range = document.createRange();
        range.selectNode(target);
        window.getSelection().addRange(range);
        try {
          const successful = document.execCommand('copy');
          const msg = successful ? 'successful' : 'unsuccessful';
          console.log('Copy email command was ' + msg);
        } catch(err) {
          console.log('Oops, unable to copy');
        }
        window.getSelection().removeAllRanges();
      }
}

function load_custom_info(listingElem, customElem, loadingElem) {
    console.log('Loading file listing and custom info.')
    $(loadingElem).removeClass("hidden")
    $.post('{{ url_for("main.custom_info", inchi_key=mol.inchi_key) }}', {
    }).done(function(response) {
        $(loadingElem).hide()
        $(customElem).html(response['custom'])
        console.log(response['custom'])
        $(listingElem).html(response['listing'])
        $(customElem).removeClass("hidden")
        $(listingElem).removeClass("hidden")
        flask_moment_render_all()
    }).fail(function() {
        {#$(loadingElem).hide()#}
        console.log("Listing + custom info lookup failed.")
        $(loadingElem).text("Error: Could not contact server.");
    });
}
</script>

{% endblock %}
