{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/kekule.css">
{% endblock %}


{% block page_content %}

<div class="page-header">
    <h1>Search</h1>
</div>

<div id="intro">
    <p class="mb-0">Search the database by drawing a structure.</p>
</div>

<div id="draw-section" class="urow">
    <div id="draw-div" class="ucol-md-7">
        <div id="chemComposer" data-widget="Kekule.Editor.Composer"></div>
    </div>
    <div id="search-form-div" class="ucol-md-3 ucol-md-offset-1">
    <form id="search-form" action="{{ url_for('main.results') }}">
    {#        <button class="btn btn-large btn-info" onclick="dumpMolecules()">Dump!</button>#}
        <span id="helpBlock" class="help-block">Draw molecule or enter SMILES below.</span>
        <textarea id='smiles-input' class="form-control" name="smiles" aria-describedby="helpBlock" placeholder="SMILES"></textarea>
        <div class="radio">
          <label>
            <input type="radio" name="search_type" id="optionsRadios1" value="similarity" checked>
            Similarity search
          </label>
        </div>
        <div class="radio disabled">
          <label>
            <input type="radio" name="search_type" id="optionsRadios2" value="substructure">
            Substructure search
          </label>
        </div>

        <button type="submit" class="btn btn-primary" onclick="return copyMolecules()">Search</button>
    </form>
    </div>

</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/kekule.min.js?modules=chemWidget,algorithm&locals=en,zh"></script>

  <script>
    var chemEditor;
    var chemComposer;
    function init()
    {
      /*
      var elem = document.getElementById('chemComposer');
      var chemEditor = new Kekule.Editor.ChemSpaceEditor(document, null, Kekule.Render.RendererType.R2D);
      chemComposer = new Kekule.Editor.Composer(elem, chemEditor);
      */
      chemComposer = Kekule.Widget.getWidgetById('chemComposer');
      {#chemComposer.setAutoResizeConstraints({width: 1, height: 1})#}
      {#  .setEnableDimensionTransform(true).setAutoSetMinDimension(true);#}
    }
    Kekule.X.domReady(init);

    function getComposer()
    {
      return Kekule.Widget.getWidgetById('chemComposer');
    }

    function copyMolecules()
    {
        const smiles_input = document.getElementById('smiles-input')
        let smiles_text = smiles_input.value;
        let mols = getComposer().exportObjs(Kekule.Molecule);
        let n_mols = mols.length;
        console.log('n_mols: ' + n_mols);
        console.log('smiles_text: ' + smiles_text);


      if (n_mols !== 1 && smiles_text.length === 0){
          alert("Please provide one molecule.");
          return false;
      }
      else {
          if (n_mols > 0) {

              if (smiles_text.length !== 0){
                  console.log('NO!')
                  alert("Please either drawing or SMILES, not both.");
                  return false;
              }
              let mol = mols[0];
              const smiles = Kekule.IO.saveFormatData(mol, 'smi');
              console.log(smiles)
              smiles_input.textContent = smiles;
          }
          return true;
      }
    }

    function dumpMolecules()
    {
      // Get all molecule objects inside editor
      var mols = getComposer().exportObjs(Kekule.Molecule);
      // dump information
      var msg = 'Molecule count: ' + mols.length + '\n';
      for (var i = 0, l = mols.length; i < l; ++i)
      {
        var mol = mols[i];
        msg += '--------------------\n' + Kekule.IO.saveFormatData(mol, 'smi') + '\n';
      }
      console.log(msg);
      alert(msg);
    }


  </script>
  <style>
    /*html, body
    {
      margin: 0;
      padding: 0;
      overflow: scroll;
      touch-action: none;
    } */
    #chemComposer
    {
      margin: 0;
    }
  </style>

{% endblock %}