#draw-section {
    display: flex;
}

#chemComposer {
    margin: 0;
    width: 600px;
    height: 400px;
}

#search-form-div {
    margin-left: 2rem;
    margin-top: 3rem;
}

.mol-categ code {
    color: #6f3fada6; /*#303080;  /*#337ab7*/
}

.molecules {
    padding-inline-start: 0px;
}

.mol-outer {
    padding: 5px;
}

@media only screen and (min-width: 992px) {
    .mol {
        min-height: 189px;
        }
}

.mol {
    display: flex;
    max-width: 500px;
    border: 2px dotted #337ab7;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-height: 189px;
    overflow: scroll;
}

.mol-thumb-box {
    width: 150px;
    min-width: 150px;
    height: 150px;
    /*border: 2px solid #337ab7;*/
    margin-right: 2rem;
    display: flex;
    justify-content: center;
}
.mol-thumb-img {
    width: 100%;
    height: 100%;
}



.mol-content {

}

.mol-inchi {

}

.mol-inchikey {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: x-small;
}

.mol-name {
    font-size: large;
    font-weight: bolder;
}
.mol-categ {

}



.mol-user {

}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}